* {
  box-sizing:border-box;
}
html {
  height:100vh;
}
body {
  height:100vh;
  font-family: Helvetica, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#d9d8d6;
  font-size: 14px;
}

.container {
  display: flex;
  width: 800px;
  height: 400px;
  background-color: #776483;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

h1.space, p.space {
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  line-height: 8px;
  margin-top: 20px;
}

.one, .two, .three, .four {
  background-color: #d9d8d6;
  color: black;
  padding: 20px;
  text-align: center;
}

.one, .two {
  height: 120px;
  width: 267px;
  margin-bottom: 130px;
}

.three, .four {
  height: 150px;
  width: 267px;
}

.four {
  float: right;
}

img {
  width: 80%;
}

.image {
  position: absolute;
  top: 163px;
  left: 370px;/*test*/
}